*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}
.container{
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 4fr;
}
.Book-Card{
    display: flex;
    width: 100px;
    height: 200px;
    background-color:antiquewhite;
}