*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}

.Container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.Container form{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 4fr;
}