s*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}
.Container{
    display: grid;
    text-align: center;
    grid-template-columns: 4fr 4fr;
}
.form{
    display: grid;
    text-align: center;
}

.button{
    display: flex;
    background: linear-gradient(rgb(63, 2, 63),rgb(138, 27, 138),silver);
    color:aliceblue;
    width: 110px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-color: navajowhite;
}
.open-button{
    display: flex;
    background: linear-gradient(rgb(63, 2, 63),rgb(138, 27, 138),silver);
    color:aliceblue;
    width: 110px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-color: navajowhite;
}
.delete-button{
    display: flex;
    background: linear-gradient(rgb(63, 2, 63),rgb(138, 27, 138),silver);
    color:aliceblue;
    width: 110px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-color: navajowhite;
}

