*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}
.Container{
    display: grid;
    text-align: center;
    grid-template-columns: 4fr 4fr;
}
.Card{
    display: flex;
    width: 100px;
    height: 400px;
    background-color:antiquewhite;
}