s*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}
.Container{
    display: grid;
    text-align: center;
    grid-template-columns: 4fr 4fr;
}
.form{
    display: grid;
    text-align: center;
}

.button{
    display: flex;
    background-color: rgb(117, 0, 226);
    color:aliceblue;
}

