s*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}
.Container{
    display: grid;
    text-align: center;
    grid-template-columns: 4fr 4fr;
}
.form{
    display: grid;
    text-align: center;
}

.button{
    display: flex;
    background: linear-gradient(to right,rgb(148, 3, 148),silver);
    color:aliceblue;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

